.create {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.create-image {
    width: 80vw;
    height: 25vw;
    margin-top: 2vw;
    border-radius: 1vw;
    object-fit: cover;
}

.create-form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2vw;
}
